VIPCore/modules
VIPCore/VIPCore/.idea
VIPCore/VIPCore/bin/
VIPCore/VIPCore/obj/
VIPCore/shared/VipCoreApi/.idea
VIPCore/shared/VipCoreApi/bin
VIPCore/shared/VipCoreApi/obj
VIPCoreOldModularity/modules
VIPCoreOldModularity/shared
VIPCoreOldModularity/VIPCore/obj/
VIPCoreOldModularity/VIPCore/bin/
VIPCoreOldModularity/
*.user
*.xml
*.editorconfig
