VIPCore/ignoremodules/
VIPCore/VIPCore/.idea
VIPCore/VIPCore/bin/
VIPCore/VIPCore/obj/
VIPCore/shared/VipCoreApi/.idea
VIPCore/shared/VipCoreApi/bin
VIPCore/shared/VipCoreApi/obj
VIPCoreOldModularity/modules
VIPCoreOldModularity/shared
VIPCoreOldModularity/VIPCore/obj/
VIPCoreOldModularity/VIPCore/bin/
VIPCoreOldModularity/
*.user
*.xml
*.editorconfig
VIPCore/modules/VIP_Gravity/bin
VIPCore/modules/VIP_Gravity/obj
VIPCore/modules/VIP_Gravity/.idea

VIPCore/modules/VIP_Health/bin
VIPCore/modules/VIP_Health/obj
VIPCore/modules/VIP_Health/.idea

VIPCore/modules/VIP_Jumps/bin
VIPCore/modules/VIP_Jumps/obj
VIPCore/modules/VIP_Jumps/.idea

VIPCore/modules/VIP_SmokeColor/bin
VIPCore/modules/VIP_SmokeColor/obj
VIPCore/modules/VIP_SmokeColor/.idea

VIPCore/modules/VIP_Bhop/bin
VIPCore/modules/VIP_Bhop/obj
VIPCore/modules/VIP_Bhop/.idea

VIPCore/modules/VIP_Healthshot/.idea
VIPCore/modules/VIP_Healthshot/bin
VIPCore/modules/VIP_Healthshot/obj

VIPCore/modules/VIP_Armor/.idea
VIPCore/modules/VIP_Armor/bin
VIPCore/modules/VIP_Armor/obj

VIPCore/modules/VIP_Hook/Vectors.cs
VIPCore/modules/VIP_Hook/VIP_Hook.cs
VIPCore/modules/VIP_Hook/VIP_Hook.csproj
VIPCore/modules/VIP_Hook/.idea
VIPCore/modules/VIP_Hook/bin
VIPCore/modules/VIP_Hook/obj

VIPCore/modules/VIP_Money/.idea
VIPCore/modules/VIP_Money/bin
VIPCore/modules/VIP_Money/obj

VIPCore/modules/VIP_Tracers/VIP_Tracers.cs
VIPCore/modules/VIP_Tracers/VIP_Tracers.csproj
VIPCore/modules/VIP_Money/build/addons/counterstrikesharp/plugins/ModularityPlugin/plugins/VIP_Money/VIP_Money.deps.json

VIPCore/modules/VIP_Test/.idea
VIPCore/modules/VIP_Test/bin
VIPCore/modules/VIP_Test/obj

VIPCore/modules/VIP_TestM/.idea
VIPCore/modules/VIP_TestM/bin
VIPCore/modules/VIP_TestM/obj
VIPCore/modules/VIP_TestM/VIP_TestM.csproj
VIPCore/modules/VIP_TestM/Class1.cs

VIPCore/modules/VIP_ResetDeaths/.idea
VIPCore/modules/VIP_ResetDeaths/bin
VIPCore/modules/VIP_ResetDeaths/obj

VIPCore/modules/VIP_Items/.idea
VIPCore/modules/VIP_Items/bin
VIPCore/modules/VIP_Items/obj

VIPCore/modules/VIP_Antiflash/.idea
VIPCore/modules/VIP_Antiflash/bin
VIPCore/modules/VIP_Antiflash/obj

VIPCore/modules/VIP_DecoyTeleport/.idea
VIPCore/modules/VIP_DecoyTeleport/bin
VIPCore/modules/VIP_DecoyTeleport/obj

VIPCore/modules/VIP_Respawn/.idea
VIPCore/modules/VIP_Respawn/bin
VIPCore/modules/VIP_Respawn/obj

VIPCore/modules/VIP_KillScreen/.idea
VIPCore/modules/VIP_KillScreen/bin
VIPCore/modules/VIP_KillScreen/obj

VIPCore/modules/VIP_RainbowModel/.idea
VIPCore/modules/VIP_RainbowModel/bin
VIPCore/modules/VIP_RainbowModel/obj

VIPCore/modules/VIP_Fov/.idea
VIPCore/modules/VIP_Fov/bin
VIPCore/modules/VIP_Fov/obj

VIPCore/modules/VIP_Flags/.idea
VIPCore/modules/VIP_Flags/bin
VIPCore/modules/VIP_Flags/obj

VIPCore/modules/VIP_Vampirism/.idea
VIPCore/modules/VIP_Vampirism/bin
VIPCore/modules/VIP_Vampirism/obj

VIPCore/modules/VIP_RegenHealth/.idea
VIPCore/modules/VIP_RegenHealth/bin
VIPCore/modules/VIP_RegenHealth/obj

VIPCore/modules/VIP_RegenArmor/.idea
VIPCore/modules/VIP_RegenArmor/bin
VIPCore/modules/VIP_RegenArmor/obj
